<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Facebook keyword driven framework">


  <listeners>
  <listener class-name="com.qa.extentreport.ExtentReportNG"/>
  <listener class-name="com.qa.screenshot.Listener"/>
  </listeners>
  <test thread-count="5" name="Facebook app Testcase">
    <classes>
      <class name="com.qa.tests.LoginTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
